<% content_for :title, "Expenses" %>

<h2>Expenses</h2>

<div class="mt-4">
  <%= render "expenses/new" %>
</div>

<% if @expenses.any? %>
  <table class="table table-borderless align-middle mt-4">
    <thead>
      <tr>
        <th class="text-end">Amount</th>
        <th class="ps-3">Description</th>
        <th>Date</th>
        <th>Category</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @expenses.each do |expense| %>
        <%= partial "expenses/expense", locals: { expense: expense, categories: @categories } %>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= pagy_bootstrap_nav(@pagy) %>
